body {
    background-attachment: fixed;
    background-image: url("http://cl.ly/image/3I2V2w1z0X1l/001-subtle-light-pattern-background-texture-vol5.jpg");
    background-position: center center;
    background-size: cover;
    color: #252525;

}

form  { display: table;      }
label { display: table-cell; }
input { display: table-cell; }